*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}



.first-bg{
    background-color: #1f2937;
    height: 100vh;
}

.second-bg{
    background-color: #cacaca;
    height: 100vh;
}

.last-bg{
    height: 100vh;
    width: 100vw;
    background-color: #b5b7ba;
}

.cnp-images, .image-discription{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.cnp-images img, .discription{
    margin-top: 40px;
    height: 45vh;
    width: 20vw;
    border: 5px solid white;
    /* margin: 20px; */
}

.image-discription .discription{
    border: none;
    height: 20vh;
    text-align: center;
}


.navbar{
    background-color: rgb(37, 37, 193);
    border-radius: 29px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}


.nav-item a{
    /* display: block; */
    color: white;
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bold;
    /* padding: 14px 16px; */
}

.nav-item a:hover{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 30px;
    /* border: 100px; */
}


.hero-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;

}

.hero-container .hero-discription{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    color: white;
    font-weight: bold;
    height: 70vh;
    width: 30vw;
}


.hero-container img{
    height: 70vh;
    width: 30vw;
    border: 5px solid white;
}

.hero-discription h1{
    height: 35vh;
    width: 30vw;
    
}

.hero-discription p{
    height: 35vh;
    width: 30vw;
}